/*
 * Base
 */
*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
* {
    margin:0;
    padding:0;
    border: 0 none;
    position: relative;
}

html, body {
    font-family: Helvetica,Arial,sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body a {
    color: #3498DB;
}

body a:hover {
    color: #F1C40F;
}

section {
    padding-top: 50px;
    padding-left: 10px;
}

.fa {
    margin: 0 5px;
}

/*
 * Header
 */


/*
 * Main
 */
#main {
    background-color: #2b303b;
    color: #eff1f5;
	font-size: 1.3em;
}

/*
 * Top
 */
#top {
  margin: 50px 0 0 0;
  padding: 50px 0 200px 0;
  width: 100%;
  height: 30%;
}

#top #code {
	width: 80%;
	margin: 0 auto;
	border: solid 2px #dfe1e8;
}

/*
 * About
 */
.about .table>tbody>tr>td {
    border-style: none !important;
}

/*
 * Contact
 */
#contact ul {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

#contact li {
    font-size: 3em;
    display: -moz-inline-box;
    display: inline-block;
    margin: 5px 10px;
}

/*
 * Timeline
 */
#twitter-timeline {
    margin: 0 auto;
    width: 60%;
}
#twitter-timeline iframe {
    margin: 0 auto;
}

/*
 * Footer
 */
footer {
    width: 100%;
    background-color: #343d46;
    color: #dfe1e8;
}
footer p {
    margin: 0;
}

footer #copyright {
    float: right;
}
