/*
 * Base
 */
html body{
    background-color: #2b303b;
    color: #eff1f5;
}

body a {
    color: #3498DB;
}

body a:hover {
    color: #F1C40F;
}

section {
    padding-top: 50px;
    padding-left: 10px;
}

.fa {
    margin: 0 5px;
}

.next {
    text-align: center;
}

.next .btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #eff1f5;
    border-radius: 35px;
    font-size: 40px;
    background: 0 0;
    color: #eff1f5;
}

.next .btn-circle:hover,
.next .btn-circle:focus {
    outline: 0;
    color: #eff1f5;
    background: rgba(37,37,37,.1);
}

#toTop {
    position: fixed;
    bottom: -30px;
    right: 5px;
    z-index: 99;
}

#toTop img {
    width: 140px;
    float: right;
}

#toTop a {
    padding: 30px 0;
    display: block;
}
#toTop a:hover {
}

/*
 * Header
 */
#header .navbar-default {
    background-color: #343d46;
    color: #dfe1e8;
    background-image:none;
}

#header .navbar-default a{
    color: #dfe1e8;
}

#header .navbar-default a:hover{
    color: #E74C3C;
}


/*
 * Main
 */
#main {
    background-color: #2b303b;
    color: #eff1f5;
    font-size: 1.3em;
}

/*
 * Top
 */
#top {
  margin: 50px 0 0 0;
  padding: 50px 0 200px 0;
  width: 100%;
  height: 30%;
}

#top #code {
    width: 80%;
    margin: 0 auto;
    border: solid 2px #dfe1e8;
}

#top #code ins{
    text-decoration: none;
}


#top #code .code-green{
    color: #2ECC71;
}


#top #code img{
    width: 80%;
    margin: 0 10%;
}

/*
 * About
 */
.about .table>tbody>tr>td {
    border-style: none !important;
}

.about img {
    width: 160px;
}

.about .chart{
    width: 400px;
    height: 400px;
    margin: 0 auto;
}

.about .chart #myChart{
    width: 400px;
    height: 400px;
    margin: 0 auto;
}

/*
 * Favorite
 */
#favorite .comb .icon-hex-lg{
    color: #3498DB;
}

.comb:hover > span {
    color: #F1C40F !important;
}

.comb .inner.back{
    padding: 2em;
}
.comb .inner.back .wrapper{
    width: 100%;
    text-align: center;
}
.comb .inner p {
    font-size: 0.8em;
}

.comb .inner p a{
    color: #3498DB;
}

/*
 * Works
 */
#works .works-panels{
    width: 90%;
    margin: 0 auto;
}

#works .works-panels .works-panel{
    margin: 0 4px;
}

#works .works-panels .works-panel img{
    width: 100%;
    height: 160px;
}


/*
 * Contact
 */
#contact ul {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

#contact li {
    display: -moz-inline-box;
    display: inline-block;
    margin: 5px 10px;
}

#contact li i{
    font-size: 3em;
}

/*
 * Footer
 */
footer {
    width: 100%;
    background-color: #343d46;
    color: #dfe1e8;
}
footer p {
    margin: 0;
}

footer #copyright {
    float: right;
}
