[submodule "js/t.js"]
	path = js/t.js
	url = https://github.com/mntn-dev/t.js.git
[submodule "vendor/turbotabs"]
	path = vendor/turbotabs
	url = https://github.com/zutigrm/turbotabs.git
[submodule "vendor/t.js"]
	path = vendor/t.js
	url = https://github.com/mntn-dev/t.js.git
[submodule "vendor/slick"]
	path = vendor/slick
	url = https://github.com/kenwheeler/slick.git
[submodule "vendor/loadgo"]
	path = vendor/loadgo
	url = https://github.com/franverona/loadgo.git
[submodule "vendor/ScrollMenu"]
	path = vendor/ScrollMenu
	url = https://github.com/s-yadav/ScrollMenu.git
[submodule "vendor/animatedModal.js"]
	path = vendor/animatedModal.js
	url = https://github.com/joaopereirawd/animatedModal.js.git
[submodule "vendor/honeycombs.js"]
	path = vendor/honeycombs.js
	url = https://github.com/Tiotao/honeycombs.js.git
[submodule "vendor/Chart.js"]
	path = vendor/Chart.js
	url = https://github.com/nnnick/Chart.js.git
[submodule "vendor/jquery-lettering-animate"]
	path = vendor/jquery-lettering-animate
	url = https://github.com/giuliandrimba/jquery-lettering-animate.git
[submodule "vendor/cheat.js"]
	path = vendor/cheat.js
	url = https://github.com/fivethirty/cheat.js.git
[submodule "vendor/textillate"]
	path = vendor/textillate
	url = https://github.com/jschr/textillate.git
