[submodule "js/t.js"]
	path = js/t.js
	url = https://github.com/mntn-dev/t.js.git
[submodule "vendor/turbotabs"]
	path = vendor/turbotabs
	url = https://github.com/zutigrm/turbotabs.git
[submodule "vendor/t.js"]
	path = vendor/t.js
	url = https://github.com/mntn-dev/t.js.git
[submodule "vendor/slick"]
	path = vendor/slick
	url = https://github.com/kenwheeler/slick.git
[submodule "vendor/loadgo"]
	path = vendor/loadgo
	url = https://github.com/franverona/loadgo.git
[submodule "vendor/ScrollMenu"]
	path = vendor/ScrollMenu
	url = https://github.com/s-yadav/ScrollMenu.git
[submodule "vendor/animatedModal.js"]
	path = vendor/animatedModal.js
	url = https://github.com/joaopereirawd/animatedModal.js.git
[submodule "vendor/honeycombs.js"]
	path = vendor/honeycombs.js
	url = https://github.com/Tiotao/honeycombs.js.git
